html {
    overflow: hidden;
    background-color: #555555;
}

body {
    display: grid;
    grid-template-areas: "show" "draw";
}

#show {
    grid-area: show;
    border-style: dashed;
    border-radius: 2px;
    border-color: #420420;
}

#draw {
    margin: 10px;
    grid-area: draw;
    display: grid;
    grid-template-areas: "func1 func2 func3";
}

#func1 {
    grid-area: func1;
}

#func2 {
    grid-area: func2;
}

#func3 {
    grid-area: func3;
}

#btn1 {
     background-color: #ff0000;
}

#btn2 {
     background-color: #ff8800;
}

#btn3 {
     background-color: #ff0088;
}


@media all and (max-width: 700px) {
    #draw {
        grid-template-areas: ". func1 ." ". func2 ." ". func3 .";
    }
}